<li>
    <article class="single-main">
        <h3>{{post.title}}</h3>
        <div>
            by {{post.user.username}} on {{format_date post.created_at}}
        </div>
        <div class="content">
            {{post.content}}
        </div>
    </article>
</li>

{{#if loggedIn}}
<form class="comment-form">
    <textarea id="comment-body"></textarea>
    <div>
        <button>Add comment</button>
        <button id="edit">Edit post</button>
    </div>
</form>
{{/if}}

<div class="comments-container">
    {{#each post.comments as |comment|}}
        <div class="comments">
            <span>{{comment.comment_text}}</span>
            <span><b>{{comment.user.username}}, {{format_date comment.created_at}}</b></span>
        </div>
    {{/each}}
</div>


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}